/* Body centrado */
body {
	background-color: #ffffff;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Contenedor principal de la postal */
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Encabezado de la postal */
.postcard-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.postcard-header h1 {
	width: 80%;
	margin: 0;
	font-size: 30px;
}

.postcard-header img {
	width: 70px;
	height: 70px;
}

/* Cuerpo de la postal */
.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	width: 50%;
	padding: 10px;
}

.body-left p:first-child {
	margin-top: 0;
}

.postcard-body p {
	font-size: 12px;
}

/* Campos de entrada */
input {
	border: none;
	border-bottom: 1px solid grey;
	width: 100%;
	margin-bottom: 10px;
	font-size: 12px;
}

/* Pie de página con botón centrado */
.postcard-footer {
	text-align: center;
	padding: 10px;
}

/* Botón de envío */
button {
	background-color: #777;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #999;
}
